*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    padding: 20px 20px 20px 20px;
}

h1{
    color: rgb(129, 129, 233);
    }

#box{
    height: 30%;
    width: 50%;
    background-color: rgb(98, 98, 51);
    margin-top: 30px;
}

#test{
    margin-top: 30px;
    width: 60vw;
    height: 50vh;
    background-color: brown;
}

#main{
    background-color: rgb(22, 38, 38);
    color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center ;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 5px solid blue;
}


