*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;

}
body{
    overflow-x: hidden;
}
#page1{
    height: 100%;
    width: 100%;
    background-color: rgb(198, 29, 29);
}
#page2{
    height: 100%;
    width: 100%;
    background-color: rgb(15, 252, 110);
}
#page3{
    height: 100%;
    width: 100%;
    background-color: rgb(127, 6, 202);
}

#page2 h1{
    font-size: 42vw;
    font-weight: 600;
    text-transform: capitalize;
}