*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    width: 100%;
    min-height: 100vh;
    background-color: #eeeaea;
}

#nav{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding:40px;
    gap: 20px;
}

#nav h4{
    font-size: 20px;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#nav i{
    background-color: black;
    color: white;
    border-radius: 50%;
    padding: 10px;
    font-weight: 500;
}

#center{
    width: 100%;
    /* background-color: red; */
    padding: 10px 100px;
}

#center h1{
    font-size: 60px;
    font-weight: 400;
    line-height: 70px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#center-in{
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
}

#center-in p{
    font-size: 18px;
    line-height: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#right{
    width: 20%;
}

.elem{
    /* background-color: aqua; */
    padding: 10px 0px;
    border-top: 2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.elem i{
    font-size: 26px;
    opacity: 0;
}

.elem a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.elem:hover i{
    opacity: 1;
}

.elem:hover{
    background-color: #dfdcdc;
}

#bottom {
  width: 100%;
  height: 80vh;
  background-image: url(https://images.unsplash.com/photo-1617551307578-7f5160d6615e?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: 0 20%;
}
