*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: rgb(35, 35, 35);
}

#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 30px 40px;
}

#navpart2{
    display: flex;
    align-items: center;
    gap: 30px;
}

#nav h3{
    font-size: 30px;
    text-transform: capitalize;
    font-weight: 500;
}

#main h1{
    font-size: 150px;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 130px;
    /* background-color: red; */
    width: 80%;
    margin-left: 10%;
    position: relative;
    z-index: 9;
}

#main h1:nth-child(2){
    margin-top: 180px;
}
#main h1:nth-child(3){
   text-align: center;
}
#main h1:nth-child(4){
    text-align: center;
}

img{
    position: absolute;
    height: 400px;
    top: 15%;
    left: 40%;
    rotate: 40deg;
}

#img1{
    rotate: 20deg;
}
#img2{
    rotate: 10deg;
}
#img3{
    rotate: 3deg;
}