*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: flex-end;
    /* justify-content: space-between; */
    padding: 0px 90px;
    padding-top: 150px;
    gap: 60px;
}

#left{
    height: 100%;
    width: 45%;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: red; */
}



#left h1{
    font-size: 120px;
    font-weight: 400;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 120px;
    padding: 40px;
}

#bottom-left{
    /* height: 40%; */
    width: 100%;
    /* background-color: yellow; */
    padding: 25px;

}

#colors{
    /* background-color: blue; */
    width: fit-content;
    padding: 10px 15px;
    border-radius: 50px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: fit-content;
}

#colors h5{
    font-size: 20px;
    margin-right: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#color1{
    width: 30px;
    height: 30px;
    background-color: burlywood;
    border-radius: 50%;
    margin-right: 8px;
}
#color2{
    width: 30px;
    height: 30px;
    background-color: brown;
    border-radius: 50%;
}

#bottom-left h2{
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#bottom-left p{
    font-size: 20px;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 25px;
}

#right{
    height: 100%;
    width: 35%;
    /* background-color: blue; */
    position: relative;
    padding-top: 50px;
} 

#right-top{
    height: 50px;
    width: 100%;
    position: absolute;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
}

#right-top h4{
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
}

#right-top h5{
    font-size: 16px;
}

#right-top i{
    color: gold;
}

#right img{
    height: 100%;
    padding: 10px;
    margin-top: 60px;
    width: 95%;
    object-fit: cover;
}

#black-gola{
    position:absolute;
    height: 180px;
    width: 180px;
    background-color: rgb(32, 43, 50);
    color: white;
    border-radius: 50%;
    right: -10%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 30%;
}

#black-gola h5{
    font-size: 26px;
    font-weight: 600px;
}

#rotated{
    position: absolute;
    left: -10%;
    bottom: 3%;
    rotate: -90deg;
    transform-origin: 0 0;
    font-size: 35px;
    font-weight: 600;
}