*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

#parent{
    min-height: 100%;
    width: 100%;
    background-color: crimson;
}

#child{
    height: 100vh;
    width: 60%;
    background-color: lightblue;
}

#child2{
    height: 100vh;
    width: 60%;
    background-color: rgb(3, 36, 47);
}

