*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: azure;
    display: grid;
    grid-template-columns: 20% 20% 20% ;
    grid-template-rows: 20% 20% 20% ;
    justify-content: space-between;
    align-content: center;
}

#car1{
    width: 200px;
    height: 400px;
    background-color: blanchedalmond;
    align-self: flex-start;
}


#car3{
    height: 200px;
    width: 400px;
    background-color: rgb(247, 151, 6);
}


#car2{
    height: 200px;
    width: 400px;
    background-color: rgb(77, 255, 0);
}
