*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    padding: 70px;
}

h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    margin-top: 30px;
    margin-left: 30px;
    font-size: 4vw;
    text-align: center;
}
p{
    line-height: 1.5;
    margin-left: 40px;
    margin-top: 50px;
    text-align: center;
}
