*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

#page1{
    height: 100vh;
    width: 100%;
    background-color: crimson;
    display: flex;
    align-items: center;
    justify-content: center;
}
#page2{
    height: 100vh;
    width: 100%;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
}
#page3{
    height: 100vh;
    width: 100%;
    background-color: rgb(98, 255, 0);
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle{
    height: 200px;
    width: 200px;
    background: linear-gradient(lightblue,royalblue);
    border-radius: 50%;
}
