*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

#box{
    height: 500px;
    width: 500px;
    background-color: rgb(39, 15, 160);
}

@media (max-width:600px) {
    #box{
        height: 50%;
        width: 50%x;
        border-radius: 50%;
        background-color: beige;
    }
}