*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: black;
}

#parent{
    height: 600px;
    width: 600px;
    background-color: brown;
}

#child{
    height:5vw;
    width:6vw;
    background-color: aqua;
}

h1{
    font-size: 3vw;
    color: white;
}

h2{
    font-size: 10vmax;
    color: aliceblue;
}

#main{
    background-color: aquamarine;
    font-size: 40px;
}

#main h3{
    font-size:2em;
}

#rem{
    height: 200px;
    width: 500px;
    background-color: beige;
}

#rem h2{
    font-size: 10rem;

}
#rem h1{
    font-size: 13rem;

}
#rem h3{
    font-size: 14rem;
    color: white;
}


