*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: #dadada;
    display: grid;
    grid-template-columns: 25% 25% 50%;
    grid-template-rows: 26% 55% 19%;
    
}
#left-top-left{
    padding: 40px;
}
#left-top-right{
    justify-self: right;
    padding: 40px;
    text-align: right;
}
#left-top-right h4{
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 500;
}
#left-top-right h5{
    font-size: 16px;
    font-weight: 500;
    color: #333;
}

#left-center{
    grid-column: 1 / 3;
    padding: 40px;
}
#left-center h1{
    font-size: 5vw;
    text-transform: uppercase;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 5vw;
}
#left-center h1:nth-child(2n){
    
    text-align: center;
}
#left-bottom{
    grid-column: 1 / 3;
    padding: 20px;
}

#left-bottom h1{
    width: 70%;
    font-size: 18px;
    font-weight: 400;
}

#square{
    height: 25px;
    width: 25px;
    rotate: 45deg;
    background-color: black;
}
#right{
    grid-column: 3;
    grid-row: 1  / 4;
    padding: 40px;
    padding-right: 100px;
}

#right video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 4px;
}

#arrow{
    position: absolute;
    top: 50%;
    left: 52%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: orangered;
    color: #fff;
    padding: 20px;
    border-radius: 50%;
}

#arrow{
    font-size: 40px;
    font-weight: 100;
}

@media (max-width:600px){
    #main{
    grid-template-columns: 50% 50%;
    grid-template-rows: 60px 34% 8%;
    
}
#right{
    grid-column: 1/4;
    grid-row: 4;
    padding: 20px;
    padding-right: 100px;
}
#left-top-left{
    padding: 40px;
}
#left-top-right{
    justify-self: right;
    padding: 20px;
    text-align: right;
}
#left-top-right h4{
    display: none;
}
#left-top-right h5{
    display: none;
}
#left-top-right h6{
    display: initial;
    font-size: 20px;
    padding: 20px 20px;
    
}
#left-center{
    padding: 30px;
}
#left-center h1{
    font-size: 15vw;
    line-height: 15vw;
}
#left-center h1:nth-child(2n){
    
    text-align: right;
}
#left-bottom{
    padding: 5px 20px;
}

#left-bottom h1{
    width: 90%;
    font-size: 10px;
}

#square{
    height: 20px;
    width: 20px;
}


#arrow{
    top: 52%;
    left: 50%;
    padding: 10px;
    rotate: 90deg;
}

#arrow{
    font-size: 20px;
    font-weight: 100;
}
#right video{
    height: 42vh;
}
}

