*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: #dadada;
    display: grid;
    grid-template-columns: 25% 25% 50%;
    grid-template-rows: 30% 55% 15%;
    
}
#left-top-left{
    padding: 40px;
}
#left-top-right{
    justify-self: right;
    padding: 40px;
    text-align: right;
}
#left-top-right h4{
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 500;
}
#left-top-right h5{
    font-size: 16px;
    font-weight: 500;
    color: #333;
}

#left-center{
    background-color: rgb(67, 20, 220);
    grid-column: 1 / 3;
}
#left-center h1{
    font-size: 4vw;
    text-transform: uppercase;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}
#left-center h1:nth-child(2n){
    background-color: red;
    text-align: center;
}
#left-bottom{
    background-color: rgb(20, 220, 137);
    grid-column: 1 / 3;
}

#square{
    height: 25px;
    width: 25px;
    rotate: 45deg;
    background-color: black;
}
#right{
    background-color: rgb(231, 8, 161);
    grid-column: 3;
    grid-row: 1  / 4;
}